# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\src\projects\english-card\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
